<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<% if @article.persisted? %>
  <%= form_tag({ action: 'merge', id: @article.id }, :id => "merge_content_form") do %>
    <h2>Merge Articles</h2>
    Article ID
    <%= text_field_tag :article_id, '', name: 'merge_with' %><br />
    <%= submit_tag 'Merge' %>
  <% end %>
<% end %>
